<!DOCTYPE html>
<html lang="en" data-theme="light"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/full.min.css"/>
    <link rel="stylesheet" href="/static/tailwind.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <title>RustSmith - {{ id }}</title>
</head>
<body>
<style>
    .list-group {
        max-height: calc(100vh - 100px);
        border-radius: 0 !important;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .source {
        border-radius: 10px;
        padding: 10px
    }

    html, body {
        overscroll-behavior-y: none;
        overflow-y: hidden;
    }
</style>
{#<div class="hero">#}
{#    <div class="hero-content text-center">#}
{#        <div class="max-w-xl" style="margin-top: 20px">#}
{#            <h1 class="text-5xl font-bold">RustSmith Viewer</h1>#}
{#            <p class="py-2">Web Interface to view files and results from generated rust files</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="navbar" style=" border-bottom: 1px solid hsl(var(--b2))">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-2xl">RustSmith Viewer</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
            <li><a class="btn btn-ghost text-md" href="/stats"><i class="fa-solid fa-chart-column"></i> Statistics</a>
            </li>
            <li>
                <label class="swap swap-rotate">

                    <!-- this hidden checkbox controls the state -->
                    <input data-toggle-theme="dark,light"  type="checkbox"/>

                    <!-- sun icon -->
                    <i class="swap-off fa-solid fa-moon"></i>
                    <i class="swap-on fa-solid fa-sun"></i>

                </label>
            </li>
        </ul>
    </div>
</div>
<div class="pr-5">
    <div class="grid grid-cols-12 gap-5">
        <div class="col-span-2" style=" border-right: 1px solid hsl(var(--b2)); padding-top: 10px">
            <ul class="menu rounded-box w-100 list-group p-2 py-0">
                {% for item in files %}
                    <li style="margin-bottom: 5px">
                        <a id="{{ item }}" href="/file/{{ item }}" class="{{ "active menu-active" if item == id }}"
                           style="display: block">
                            {{ item }}
                            <div style="float: right"
                                 class="badge badge-{{ summary[item] }}">{{ mapping[summary[item]] }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-span-10">
            <div class="grid grid-cols-12 gap-5">
                <div class="col-span-8">
                    <div class="flex w-full" style="margin-bottom: 20px; margin-top: 10px">
                        <button id="sourceCodeButton" onclick="showCode()" class="btn btn-primary btn-wide flex-grow">
                            Source File
                        </button>
                        <div class="divider divider-horizontal"></div>
                        <button id="compileLogButton" onclick="showCompile()" class="btn btn-wide btn-ghost flex-grow"
                                style="border: 0">Compile Log
                        </button>
                    </div>
                    <div id="sourceCode" style="height: calc(100vh - 150px); overflow-x:hidden; overflow-y: scroll;">
                        {{ content|safe }}
                    </div>
                    <div id="compileLog" style="height: calc(100vh - 150px); overflow: scroll;">
                        {{ compile_log|safe }}
                    </div>
                </div>
                <div class="col-span-4">
                    <div class="flex w-full" style="margin-bottom: 20px">
                        <button class="btn btn-link btn-wide flex-grow" style="cursor: default; text-decoration: none">
                            Output Log
                        </button>
                    </div>
                    <div>
                        <div style="height: calc(100vh - 150px); overflow: scroll;">
                            {{ output_log|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showCode() {
        document.getElementById("sourceCode").style.display = "block"
        document.getElementById("compileLog").style.display = "none"

        document.getElementById("compileLogButton").classList.remove("btn-primary")
        document.getElementById("compileLogButton").classList.add("btn-ghost")
        document.getElementById("sourceCodeButton").classList.add("btn-primary")
        document.getElementById("sourceCodeButton").classList.remove("btn-ghost")
    }

    function showCompile() {
        document.getElementById("sourceCode").style.display = "none"
        document.getElementById("compileLog").style.display = "block"

        document.getElementById("sourceCodeButton").classList.remove("btn-primary")
        document.getElementById("sourceCodeButton").classList.add("btn-ghost")
        document.getElementById("compileLogButton").classList.add("btn-primary")
        document.getElementById("compileLogButton").classList.remove("btn-ghost")
    }
</script>
</body>
</html>