<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <title>RustSmith - {{ id }}</title>
</head>
<body>
<div class="container-flex">

    <div class="row">
        <div class="col-2" style="padding-right: 0; border-right: 1px solid rgb(223,223,223);">
            <div style="height: 70px; border-bottom: 1px solid rgb(223,223,223);">
                <h4 style="text-align: center; padding-top: 20px; padding-bottom: 20px">RustSmith Viewer</h4>
            </div>
            <div class="list-group">
                {% for item in files %}
                    <a id="{{ item }}" href="/file/{{ item }}"
                       class="list-group-item {{ "list-group-item-primary" if item == id }}">{{ item }} <span
                            style="float: right"
                            class="badge rounded-pill bg-{{ summary[item] }}">{{ mapping[summary[item]] }}</span></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div style="height: 70px; border-bottom: 1px solid rgb(223,223,223)">
                    <button type="button" class="btn btn-primary" style="margin-top: 15px; float: right; margin-right: 20px">
                        &#9654;
                        Run Validator
                    </button>
                </div>
                <div class="row" style="padding-left: 20px; padding-top: 20px">
                    <div class="col-6">
                        <h2 style="width: 50%">{{ id }}.rs </h2>
                    </div>
                    <div class="col-2">
                        <span style="float: right; margin-top: 10px"
                              class="badge rounded-pill bg-{{ summary[id] }}">{{ mapping[summary[id]] }}</span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 20px">
                <div class="col-8">
                    <div class="row">
                        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home"
                                        type="button" role="tab" aria-controls="home" aria-selected="true">Source
                                    File
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile"
                                        type="button" role="tab" aria-controls="profile" aria-selected="false">
                                    Abstract
                                    Syntax Tree
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact"
                                        type="button" role="tab" aria-controls="contact" aria-selected="false">
                                    Compile Log
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div style="height: calc(100vh - 250px); overflow: scroll;">
                                    {{ content|safe }}
                                </div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div id="ast-container" style="margin-top: 20px">
                                </div>
                            </div>
                            <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div style="height: calc(100vh - 250px); overflow: scroll;">
                                    {{ compile_log|safe }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <div class="nav-link">Output</div>
                        </li>
                    </ul>
                    <div>
                        <div style="height: calc(100vh - 250px); overflow: scroll;">
                            {{ output_log|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .list-group {
        max-height: calc(100vh - 70px);
        border-radius: 0 !important;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .source {
        margin-top: 20px;
        padding: 10px;
    }

    .vtree {
        height: calc(100vh - 250px) !important;
        width: 100%;
        background: #f8f8f8;
    }

    html, body {
        overscroll-behavior-y: none;
        overflow-y: hidden;
    }

</style>
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="/static/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/vtree.js"></script>
<script type="text/javascript">
    var vt;

    function updateTree() {
        var container = document.getElementById("ast-container");
        container.innerHTML = ""
        vt = new VTree(container);
        var reader = new VTree.reader.Object();
        var data = reader.read({{ json_ast|safe }});

        vt.data(data).update();
    }

    document.getElementById("profile-tab").onclick = updateTree;
</script>
</body>
</html>